@import "utils/_variables";
@import "utils/_map";
@import "utils/_mixins";
@import "utils/placeholders";
@import "utils/_functions";
@import "base/_typography";
@import "components/_buttons";
@import "components/svg";
@import "layout/footer";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import "pages/home";
@import "pages/menu";