@import "utils/_variables";
// @import "utils/_map";
@import "utils/_mixins";
@import "utils/_functions";
@import "utils/placeholders";
@import "base/_typography";
@import "components/_buttons";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");

img {
  width: 1em;
  height: 1em;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h2 {
  font-weight: 500;
}
h3 {
  font-weight: 400;
}

header {
  margin: 1em;
  text-align: center;
  img {
    width: 8em;
    height: 1.5rem;
  }
}

.main__container-top {
  // display: flex;
  // flex-direction: column;
  display: grid;
  margin-bottom: 2em;
  &__search {
    width: 100%;
    text-align: center;
    height: 3rem;
    background-color: darken($grey, 5%);
    border: none;
    border-top: 4px darken($grey, 10%) solid;
    &::placeholder {
      background-image: url(../images/svg/map-marker.svg);
      background-repeat: no-repeat;
      background-position: 35%;
      color: black;
    }
  }

  &__about {
    background-color: $grey;
    text-align: center;
    padding: 1em 4em;
  }
}

.main__container-middle {
  @extend %flex-center;
  flex-direction: column;
  margin: 0 1em;
  position: relative;
  h2 {
    align-self: stretch;
  }
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey;
    font-weight: 400;
    height: 4rem;
    width: 21em;
    border-radius: 20px;
    height: 4.5rem;
    @extend %shadow;
    // @include responsive {
    //   width: 19em;
    // }
    &:hover {
      @extend %shadow-hover;
      background: linear-gradient(
        lighten($primary, 25),
        lighten($secondary, 15)
      );
      > svg {
        color: $primary;
      }
    }
    span {
      position: absolute;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      padding: 2px;
      background: #fff;
      border: 2px solid transparent;
      color: #666;
      text-align: center;
      font-size: 17px;
      margin-right: 20em;
      background-color: $primary;
      color: white;
    }
    svg {
      position: absolute;
      margin-left: -16em;
      width: 1rem;
      color: darken($color: $grey, $amount: 40);

    }
  }
}

.main__container-bottom {
  background-color: $grey;
  padding-top: 2rem;
  h2 {
    margin: 1rem 1rem;
  }
}
.card {
  position: relative;
  margin: 1em 1em;
  border-radius: 15px;
  background-color: white;
  @extend %shadow;

  &:hover {
    @extend %shadow-hover;
  }
  img {
    width: 100%;
    height: 12rem;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
  & > p {
    position: absolute;
    font-weight: 500;
    color: darken(#4ab399, 15);
    background-color: darken(#99e2d0, 7);
    top: 0px;
    right: 15px;
    padding: 5px;
    border-radius: 2px;
  }
}
.card__bottom {
  display: flex;
  &__about {
    flex-basis: 85%;
    margin-left: 1rem;
  }
  &__like {
    flex-basis: 20%;
    fill: white;
    stroke: black;
    stroke-width: 10;
    outline: none;
    background: none;
    position: relative;
    svg {
      cursor: pointer;
      transition: transform 0.4s ease;
      overflow: visible;
      width: 2rem;
      position: absolute;
      top: 2em;
      right: 2em;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      &:hover {
        transform: scale(1.2);
      }
      &:active {
        transform: scale(1.5);
      }
    }
  }
}
