footer {
  padding: 1em;
  background-color: lighten(black, 20);
  color: white;
  h4 {
    font-family: "Shrikhand", cursive;
    font-weight: lighter;
  }
  .footer__contact {
    display: flex;
    flex-direction: column;
    a {
      height: 2rem;
      text-decoration: none;
      color: white;
      svg {
        width: 1em;
        height: 1em;
        margin-right: 1em;
      }
      &:visited {
        color: white;
        text-decoration: none;
      }
      &:hover {
        opacity: 0.7;
        text-decoration: underline;
      }
      &:active {
        opacity: 1;
        text-decoration: none;
      }
      @include responsive-desktop {
        margin-right: 2em;
      }
    }
    @include responsive-desktop {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
