header {
    position: relative;
    @extend %flex-center;
    padding: 1em;
    text-align: center;
    background-color: white;
    a {
      position: absolute;
      left: 1rem;
    }
    @include responsive-desktop {
      border-bottom: 4px #d9d9d9 solid;
    }
    img {
      width: 9em;
      height: 1.5rem;
    }
  }