.loader {
  // display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: lighten(black, 15);
  @extend %flex-center;
  perspective: 100px;
  animation: loading 0.3s 3s forwards;
  &-0 {
    fill: $primary;
    animation: carou0 5s ease-in-out infinite;
  }
  &-1 {
    fill: $secondary;
    animation: carou1 5s ease-in-out infinite;
  }
  &-2 {
    fill: $tertiary;
    animation: carou2 5s ease-in-out infinite;
  }
  &__dot {
    height: 70px;
    width: 70px;
    text-align: center;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    font-family: "Shrikhand", cursive;
    // display: inline-block;
    padding-top: 10px;
    color: lighten(black, 15);
    &:nth-child(1) {
      animation: dot1 5s ease-in-out infinite;
      @include responsive-mobile {
        animation: dotsmartphone 5s ease-in-out infinite;
      }
    }
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// Animation guys loader
@keyframes carou0 {
  0% {
    transform: translate3d(-50px, 0, -50px);
  }
  25% {
    transform: translate3d(50px, 0px, -100px);
    opacity: 0.7;
  }
  50% {
    transform: translate3d(150px, 0, -50px);
  }
  75% {
    transform: translate3d(50px, 0, 0);
    opacity: 1;
    z-index: 1;
  }
  100% {
    transform: translate3d(-50px, 0, -50px);
  }
}
@keyframes carou1 {
  0% {
    transform: translate3d(-50px, 0, 0);
    opacity: 1;
  }
  25% {
    transform: translate3d(-150px, 0px, -50px);
  }
  50% {
    transform: translate3d(-50px, 0, -100px);
    opacity: 0.7;
  }
  75% {
    transform: translate3d(50px, 0, -50px);
  }
  100% {
    transform: translate3d(-50px, 0, 0);
  }
}
@keyframes carou2 {
  0% {
    transform: translate3d(-50px, 0, -50px);
  }
  25% {
    transform: translate3d(-150px, 0px, 0);
    opacity: 1;
  }
  50% {
    transform: translate3d(-250px, 0, -50px);
  }
  75% {
    transform: translate3d(-150px, 0, -100px);
    opacity: 0.7;
  }
  100% {
    transform: translate3d(-50px, 0, -50px);
  }
}


// Animation loader Oh my Food
@keyframes dot1 {
  0% {
    transform: translate3d(150px, 0, -100px) rotate(0) scale(1);
  }
  25% {
    transform: translate3d(280px, 0, -50px) rotate(360deg);
  }
  50% {
    transform: translate3d(150px, 0, 0) scale(10);
    z-index: 1;
    color: white;
  }
  75% {
    transform: translate3d(-50px, 0, -50px);
  }
  100% {
    transform: translate3d(150px, 0, -100px) rotate(360deg);
  }
}
@keyframes dotsmartphone {
  0% {
    transform: translate3d(150px, 0, -100px) rotate(0) scale(1);
  }
  25% {
    transform: translate3d(250px, 0, -50px) rotate(360deg);
  }
  50% {
    transform: translate3d(105px, 0, 0) scale(6);
    z-index: 1;
    color: white;
  }
  75% {
    transform: translate3d(-50px, 0, -50px);
  }
  100% {
    transform: translate3d(150px, 0, -100px) rotate(360deg);
  }
}
