*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  @include responsive-desktop {
    background-color: $grey;
  }
}

h2 {
  font-weight: 500;
}
h3 {
  font-weight: 400;
}

header {
  padding: 1em;
  text-align: center;
  background-color: white;
  @include responsive-desktop {
    border-bottom: 4px #d9d9d9 solid;
  }
  img {
    width: 8em;
    height: 1.5rem;
  }
}

main {
  @include responsive-desktop {
    display: flex;
    flex-wrap: wrap;
  }
}
.main__container-top {
  margin-bottom: 2em;
  @extend %flex-center;
  flex-direction: column;
  @include responsive-desktop {
    flex-basis: 100%;
  }
  @include responsive-desktop-large {
    flex-basis: 45%;
  }
  &__search {
    width: 100%;
    text-align: center;
    height: 3rem;
    border: none;
    background-color: darken($grey, 5%);
    border-top: 4px darken($grey, 10%) solid;
    @include responsive-desktop {
      height: 4rem;
      margin-top: 1rem;
      width: 20rem;
      border: none;
      border-radius: 20px;
    }
    &::placeholder {
      background-image: url(../images/svg/map-marker.svg);
      background-repeat: no-repeat;
      background-position: 35%;
      color: black;
      @include responsive-mobile {
        background-position: 30%;
      }
      @include responsive-desktop {
        background-position: 25%;
      }
    }
  }

  &__about {
    background-color: $grey;
    text-align: center;
    padding: 1em 4em;
    @include responsive-desktop {
      padding: 1em 1em;
    }
  }
}

.main__container-middle {
  @extend %flex-center;
  flex-direction: column;
  margin: 0 1em;
  position: relative;
  @include responsive-desktop {
    flex-basis: 100%;
  }
  @include responsive-desktop-large {
    flex-basis: 50%;
  }
  h2 {
    align-self: stretch;
    @include responsive-desktop {
      align-self: center;
    }
  }
  p {
    @extend %flex-center;
    background-color: $grey;
    font-weight: 400;
    width: 21em;
    border-radius: 20px;
    height: 4.5rem;
    @extend %shadow;
    @include responsive-mobile {
      width: 18em;
    }
    @include responsive-mobile-small {
      width: 16em;
    }
    &:hover {
      @extend %shadow-hover;
      // background: linear-gradient(
      //   lighten($primary, 25),
      //   lighten($secondary, 15)
      // );
      background-color: lighten($primary, 35);
      > svg {
        color: $primary;
      }
    }
    span {
      position: absolute;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      padding: 2px;
      background: #fff;
      border: 2px solid transparent;
      color: #666;
      text-align: center;
      // font-size: 17px;
      margin-right: 21em;
      background-color: $primary;
      color: white;
      @include responsive-mobile {
        margin-right: 18em;
      }
      @include responsive-mobile-small {
        margin-left: 2em;
      }
    }
    svg {
      position: absolute;
      margin-left: -16em;
      width: 1rem;
      color: darken($color: $grey, $amount: 40);
      @include responsive-mobile {
        margin-left: -14em;
      }
      @include responsive-mobile-small {
        margin-right: -1.5em;
      }
    }
  }
}

.main__container-bottom {
  background-color: $grey;
  padding: 2rem 0;
  h2 {
    margin: 1rem 1rem;
  }
  > div {
    display: flex;
    flex-wrap: wrap;
  }
}
.card {
  position: relative;
  margin: 1em 1em;
  border-radius: 15px;
  background-color: white;
  @extend %shadow;
  @include responsive-desktop {
    width: 400px;
  }

  &:hover {
    @extend %shadow-hover;
  }
  img {
    width: 100%;
    height: 12rem;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
  & > p {
    position: absolute;
    font-weight: 500;
    color: darken(#4ab399, 15);
    background-color: darken(#99e2d0, 7);
    top: 0px;
    right: 15px;
    padding: 5px;
    border-radius: 2px;
  }
}

.card__bottom {
  display: flex;
  &__about {
    flex-basis: 85%;
    margin-left: 1rem;
  }
  &__like {
    @extend %flex-center;
    flex-basis: 20%;
    position: relative;
  }
}
