*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  @extend %flex-center;
  position: relative;
  a {
    position: absolute;
    left: 1rem;
  }
}

main {
  img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
  }
}

.main__container {
    border-radius: 35px 35px 0 0;
  background-color: $grey;
  &__title {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  &__submenu {
    margin: 0 1em;
    & > h3 {
        padding-top: 2rem;
    }
  }
}

.subcontainer {
  @extend %flex-center;
  flex-direction: column;
  &__card {
    margin-bottom: 1rem;
    background-color: white;
    display: flex;
    width: 100%;
    border-radius: 20px;
    @extend %shadow;
    &:hover {
      @extend %shadow-hover;
    }
    &__food {
      h3 {
        font-weight: bold;
      }
    }
    &__hidde {
      background-color: $tertiary;
      svg {
        width: 2rem;
      }
    }
    &:active > .subcontainer__card__hide {
    }
  }
}
