// @import "./_map";

@mixin absolute-el($top, $right, $bottom, $x, $y) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  transform: translate($x, $y);
}



// RESPONSIVE ------------------------------------------

  // @mixin responsive {
  //     @media screen and (max-width: map-get($breakpoints, mobile)){
  //       @content;
  //     }
@mixin responsive-mobile {
  @media screen and (max-width: 320px){
    @content;
  }
}
@mixin responsive-mobile-small {
  @media screen and (max-width: 280px){
    @content;
  }
}
@mixin responsive-desktop {
  @media screen and (min-width: 450px){
    @content;
  }
}
 @mixin responsive-desktop-large {
   @media screen and (min-width: 881px){
     @content;
   }
 }

 @mixin gradient($background){
       $background: linear-gradient(
         lighten($primary, 25),
         lighten($secondary, 15)
       )
   }



   @mixin svg-gradient($id) {
    stroke: url($id);
    animation: stroke-animation 2s ease-in-out forwards;
    @keyframes stroke-animation {
      0% {
        stroke-dashoffset: 0;
      }
      30% {
        stroke-dashoffset: 1550;
      }
      60% {
        stroke-dashoffset: 3100;
        fill: transparent;
        transform: scale(1);
      }
      80% {
        fill: url($id);
        transform: scale(1.1);
      }
      90% {
        transform: scale(1);
      }
      100% {
        stroke-dashoffset: 3100;
        fill: url($id);
      }
    }
    }