// ---------------Colors---------------------
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$grey: #F2F2F2;
$gradient: linear-gradient($secondary, $primary);



// -----------Shadow-----------
