// ---------------Colors---------------------
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey: #f2f2f2;
$gradient: linear-gradient($secondary, $primary);

// responsive typo
$responsive-typo: calc(0.01 * 10vmin);
